:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-very-pale-cyan: hsl(193, 100%, 96%);
  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-grayish-blue: hsl(208, 11%, 55%);

  --ff-poppins: 'Poppins', sans-serif; /* Headings; weights: 600 */
  --ff-open-sans: 'Open Sans', sans-serif; /* Body, Call-to-actions; weights: 400, 700 */

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
optgroup,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--ff-open-sans);
  font-size: 18px;
  line-height: 1.5;
}

.header {
  background-color: var(--clr-very-pale-cyan);
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.header-top img {
  width: 100px;
  height: auto;
}

a {
  text-decoration: none;
}

.header-top-link {
  background-color: white;
  color: var(--clr-very-dark-cyan);
  font-size: 11px;
  font-weight: var(--fw-700);
  padding: 5px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 19px -9px hsla(208, 11%, 55%, 0.5);
  transition: 0.2s;
}

.header-top-link:hover {
  opacity: 0.6;
}

.header-bottom {
  text-align: center;
  padding: 35px;
}

.header-bottom h1 {
  font-family: var(--ff-poppins);
  font-size: 24px;
  font-weight: var(--fw-600);
  margin-bottom: 20px;
}

.header-bottom p {
  font-size: 16px;
}

.header-bottom-link {
  display: inline-block;
  font-size: 13px;
  font-weight: var(--fw-600);
  color: white;
  background-color: var(--clr-pink);
  padding: 12px;
  width: 80%;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  transition: 0.2s;
}

.header-bottom-link:hover {
  opacity: 0.6;
}

.header-bottom img {
  width: 100%;
  height: auto;
}

.main {
  padding: 50px 20px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-card {
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 19px -9px hsla(208, 11%, 55%, 0.5);
}

.main-card h2 {
  font-family: var(--ff-poppins);
  font-size: 20px;
  color: var(--clr-very-dark-cyan);
  margin-top: 40px;
  margin-bottom: 15px;
}

.main-card p {
  font-size: 14px;
  color: var(--clr-grayish-blue);
}

.main-ready {
  padding: 45px 10px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 19px -9px hsla(208, 11%, 55%, 0.5);
  position: relative;
  width: 95%;
  margin: auto;
}

.main-ready h3 {
  font-size: 18px;
  color: var(--clr-very-dark-cyan);
  margin-bottom: 25px;
}

.main-ready-link {
  display: inline-block;
  font-size: 11px;
  font-weight: var(--fw-600);
  color: white;
  background-color: var(--clr-pink);
  padding: 12px;
  width: 50%;
  border-radius: 30px;
  transition: 0.2s;
}

.main-ready-link:hover {
  opacity: 0.6;
}

.footer {
  background-color: var(--clr-very-dark-cyan);
  color: white;
  padding: 140px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: -65px;
}

.footer-contacts-logo {
  margin-bottom: 30px;
  width: 170px;
  filter: brightness(0) invert(1);
}

ul {
  list-style: none;
}

.footer-contacts ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contacts li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.footer-contacts ul li:nth-child(1) img {
  align-self: flex-start;
  margin-top: 4px;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links ul div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links a {
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  color: white;
  font-size: 14px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
}

.social-links a:hover {
  color: var(--clr-pink);
  border: 1px solid var(--clr-pink);
}

.footer-social small {
  font-size: 11px;
}

@media screen and (min-width: 1200px) {
  .header {
    background: var(--clr-very-pale-cyan) url(../images/bg-hero-desktop.svg)
      no-repeat;
    background-size: contain;
  }

  .header-top {
    padding: 40px 80px 20px;
  }

  .header-top img {
    width: 180px;
  }

  .header-top-link {
    font-size: 14px;
    padding: 15px 60px;
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
  }

  .header-bottom h1 {
    font-size: 40px;
    text-align: left;
  }

  .header-bottom div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-bottom img {
    width: 55%;
  }

  .header-bottom p {
    font-size: 18px;
    text-align: left;
  }

  .header-bottom-link {
    font-size: 14px;
    width: 55%;
    align-self: flex-start;
    padding: 16px;
    margin-bottom: 0;
  }

  .main {
    padding: 150px 100px;
    gap: 45px;
  }

  .main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 80px 30px 80px 120px;
    text-align: left;
    gap: 50px;
  }

  .main-card:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .main-card h2 {
    font-size: 30px;
    margin-top: 0;
  }

  .main-card p {
    font-size: 18px;
  }

  .main-card div {
    max-width: 510px;
  }

  .main-card img {
    max-width: 400px;
    height: auto;
  }

  .main-ready {
    padding: 80px 10px;
    width: 60%;
  }

  .main-ready h3 {
    font-size: 30px;
  }

  .main-ready-link {
    font-size: 18px;
    padding: 25px;
    border-radius: 50px;
  }

  .footer {
    padding: 200px 80px 100px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -125px;
  }

  .footer-contacts {
    max-width: 30%;
  }

  .footer-contacts-logo {
    width: 240px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links ul {
    flex-direction: row;
    gap: 100px;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .social-links {
    margin-top: 60px;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1600px) {
  .main-card {
    justify-content: space-evenly;
  }

  .header-top {
    padding: 40px 200px 20px;
  }

  .header-bottom {
    padding: 40px 200px;
  }

  .main {
    padding: 150px 250px;
  }
}
